{% extends 'productos/base.html' %}

{% block title %}Estado del Pedido{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Estado del Pedido</h2>

    <div class="card mb-4">
        <div class="card-body">
            <h3 class="card-title">Número de Pedido: {{ pedido.id }}</h3>
            <p class="card-text"><strong>Estado:</strong> {{ pedido.get_estado_display }}</p>
            <p class="card-text"><strong>Tipo de Envío:</strong> {{ pedido.get_tipo_envio_display }}</p>

            {% if pedido.tipo_envio == 'domicilio_registro' %}
                <p><strong>Dirección de Envío:</strong> {{ pedido.usuario.direccion }}</p>
            {% elif pedido.tipo_envio == 'retiro_sucursal' %}
                <p><strong>Retiro en Sucursal:</strong> Modo Bestia, Los Ángeles, CHILE, Galería Colón, Calle Valdivia, Frente al Mall</p>
            {% endif %}

            <hr>

            <h4>Detalles del Pedido:</h4>
            <ul class="list-group list-group-flush">
                {% for subtotal in subtotales %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center">
                        <img src="{{ subtotal.producto.imagen.url }}" alt="{{ subtotal.producto.nombre }}" class="mr-3" style="max-width: 50px;">
                        <span>{{ subtotal.producto.nombre }}</span>
                    </div>
                    <div class="d-flex align-items-center">
                        <span>Cantidad: {{ subtotal.cantidad }}</span>
                        <span class="ml-3">Precio unitario: ${{ subtotal.producto.precio_con_descuento|floatformat:2 }}</span>
                        <span class="ml-3 font-weight-bold">Subtotal: ${{ subtotal.subtotal|floatformat:2 }}</span>
                    </div>
                </li>
                {% empty %}
                <li class="list-group-item">No hay productos en este pedido.</li>
                {% endfor %}
            </ul>

            <div class="mt-3">
                <p class="font-weight-bold">Total del Pedido: ${{ total_pedido|floatformat:2 }}</p>
                
                {% if descuento_aplicado %}
             
                    <p class="font-weight-bold">Total con Descuento: ${{ total_pedido|floatformat:2 }}</p>
                {% endif %}
            </div>

            <hr>

            {% if pedido.estado == 'preparacion' %}
            <p class="card-text text-muted">El pedido está en preparación.</p>
            {% elif pedido.estado == 'enviado' %}
            <p class="card-text text-success">El pedido ha sido enviado.</p>
            {% elif pedido.estado == 'recibido' %}
            <p class="card-text text-success">El pedido ha sido entregado.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
